/* Estilos básicos */
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del header */
.header {
  background-color: #191e2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.main-title {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}

.button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
}

.button:hover {
  background-color: #393e49;
}

/* Estilos del main */
.main-content {
  background-color: #30343f;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-container {
  width: 600px;
  height: 600px;
  text-align: center;
}

.meme-text {
  background-color: #fff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 20px;
}

.meme-image {
  background-color: #000;
  height: 400px;
}

/* Estilos de los dos aside */
.aside {
  background-color: #252935;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 270px;
}

/* Estilos del aside de imagen */

/* Estilos del aside de texto */
.text-editor {
  display: none;
}
