/* Estilos básicos */
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del header */
.header {
  background-color: #191e2b;
  height: 15vh;
}

/* Estilos del main */
.main-content {
  background-color: #30343f;
  height: 85vh;
}

/* Estilos de los dos aside */
.aside {
  background-color: #252935;
}

/* Estilos del aside de imagen */
.image-editor {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 270px;
}

/* Estilos del aside de texto */
.text-editor {
  display: none;
}
